* @andyweiss1982
* @ErnieAtLYD 
* @leopolicastro
* @Limlight86
* @izzycode

staff/andy_weiss.md @andyweiss1982
staff/leo_policastro.md @leopolicastro
staff/laz_quintana.md @Limlight86
staff/ernie_hsiung.md @ErnieAtLYD

pt12/isadelleMercedes.md @imisadelle
pt12/edwinSanchez.md	@edwinsanch33
pt12/sthefanyAzevedo.md	@sthef1002
pt12/tusharPoojara.md	@poojarat
pt12/darciPons.md	@darcipons
pt12/carolinaSilver.md @carolunasilver
pt12/erikaBrowning.md	@erikabrowning
pt12/alexiaPanameno.md @rogueale
pt12/dannySanchez	@Dsanchez03

c37/albert_palacio.md @albertpalacio
c37/alejandro_saenz.md @drocodes
c37/benjamin_moore.md @benjaminfmoore
c37/bootros_belance.md @
c37/elizabeth_eidelson.md @fluturecode
c37/fred_bain.md @FreddyB77
c37/kaitlyn_breuil.md @kcbreuil
c37/kisbel_espinal.md @kisbel
c37/marcella_garcia.md @marcellits
c37/matthew_de_moraes.m @mxnageyt
c37/michael_edgecomb.md @Madmike357
c37/nestor_rivera.md @nhrivera
c37/reynold_urena.md @ghostkid130
c37/roberto_garcia.md @robgarciaxyz
c37/ruben_briceno.md @7862660370
c37/sunnie_stemley.md @sunnie007
c37/theodore_mclean.md @mpktheo96
  

c36/adrian_garcia.md @gadrian99
c36/cris_guerrero.md @CristopherG
c36/sonia_st_remy.md @stremysonia
c36/albert_diaz.md @l2albert
c36/carolina_klein.md @CarolinaKlein
c36/elvis_hernandez.md @ElvisHernandez
c36/hannah_shea.md @hbshea
c36/iman_bashir.md @imanbashir
c36/dean_lovett.md @dlovett712
c36/elias_zabaneh.md @ezabaneh1
c36/jaboa_howell.md @howell37
c36/julio_acceus.md @JulioA8
c36/kiara_poitevien.md @kpoitevien
c36/jamile_reid.md @reidjamile
c36/maria_beckles.md @TheProgrammingMom
c36/kristina_keranova.md @krisike
c36/kevin_matthews.md @KevinKM3
c36/shawn_marcotte.md @shawnpmarcotte
c36/tristan_favard.md @Trsif
c36/natalie_lozano.md @nklgraphics
c36/rene_breslauer.md @renebreslauer
c36/lavonnyka_howell.md @lavonnyka
c36/leigh_chin.md @LeighChin10
c36/syelbi_hajiyeva.md @shajiyeva
c36/chayoung_lee.md @chayogit
c36/joe_sortino.md @sortinousn
c36/jose_rangel.md @josedani08200

c35/aileen_arcia.md @aichii
c35/alexia_panameno.md @rogueale
c35/andres_mejia.md @aemabit
c35/andres_urdaneta.md @piscespieces
c35/andrew_chunis.md @chuniversity
c35/anna_stepanova.md @annastepanova
c35/brendan_guralsky.md @chefbg555
c35/cristhian_fernandez.md @cristhianFG93
c35/daniel_perez.md @RidleySloth
c35/daniel_ulerio.md @daniel-ulerio
c35/emilio_izquierdo.md @emilioiz
c35/eric_oyanadel.md @Aereli
c35/genny_moise.md @Gen081
c35/gustavo_abdelnour.md @gabdelnour
c35/james_kemp.md @JamesKemp296
c35/jean_de_castro.md @jeancloei
c35/jennifer_jordan.md @JenJordan4
c35/josue_vargas.md @adoniramj
c35/jun_su.md @jujopico
c35/maryali_rondon.md @maryalir
c35/natalia_vaz.md @vaznatalia
c35/nico_quintero.md @NDQM88
c35/pitney_jules.md @Mr-Pit
c35/robert_terrell.md @Rterrell25
c35/valiana_josic.md @ValianaJosic
c35/william_kennedy.md @wkennedy8

c34/aaron_holland.md @aaronholla
c34/adlai_bradley.md @abradley23
c34/anthony_gil.md @tonyizcool
c34/carleton_jefferson.md @carl2532
c34/christopher_menendez.md @MenendezC
c34/darci_pons.md @darcipons
c34/edwin_sanchez.md @edwinsanch33
c34/gabriel_vicioso.md @AlexanderKerm
c34/gerson_areche.md @Gson44
c34/jajuan_burton.md @JajuanX
c34/jamie_katz.md @jamiektz
c34/jessica_ruona.md @jessicaruona
c34/johan_gace.md @johangace
c34/joshua_martinez.md @jmart790
c34/matthew_palmer.md @palmermo
c34/michaela_carrera.md @carreramichaela
c34/miguel_clavel.md @mclavel322
c34/mitchell_posk.md @mposk
c34/mixolidia_gautreaux.md @mixolidia
c34/nicole_cuellar.md @cuellarn
c34/raphael_burkhardt.md @zibobilo
c34/sophia_banda.md @sophiabanda
c34/syed_rahman.md @sidramen
c34/timothy_martinez.md @TimothyMartinez
c34/tushar_poojara.md @poojarat
c34/wilson_ng.md @wilsonng21
c34/yulia_acquatella.md @yacquate

c33/addison_grillo.md @addisongrillo
c33/adrian_marimon.md @Aldeano17
c33/alena_bierzynski.md @alenabierzynski
c33/alex_castillo.md @castillo-alex
c33/alex_jimenez.md @axavierj
c33/bryant_ramirez.md @Bryant-Ramirez
c33/calvin_mitchell.md @NyceTheTech
c33/daniel_mcglinchy.md @Daniel-McGlinchy
c33/gary_zeidman.md @gzeidman
c33/james_pharr.md @jamespharr
c33/jay_martins.md @jeremyamartins
c33/jevon_hill.md @Jevonhill1
c33/laz_quintana.md @Limlight86
c33/loris_orsolini.md @Lorsolini1
c33/manny_medina.md @emedina27
c33/nat_goldenberg.md @NatanelG7
c33/romulo_cechet.md @Romulofcd
c33/ryan_vanderhoff.md @RyantheHoff
c33/stephanie_hernandez.md @stephaniehernandezmiami
c33/stephanie_pineda.md @StephPineda
c33/vane_diminich.md @vadivi
c33/victor_brown.md @Superstaro
c33/wyman_frederick.md @WymanRF
c33/yujailec_benitez.md @yujailec

c32/andrew_ward.md @awardii
c32/arissa_oflaherty.md @arissac
c32/azmat_aziz.md @azmataziz
c32/corey_vernon.md @coreyjvernon
c32/daniel_brierton.md @danbrierton
c32/eduardo_iglesias.md @odraude1022
c32/francisco_mendez.md @Coderman203
c32/gabriel_kutsovsky.md @gkutsovsky
c32/guilherme_milanez.md @GuiMilanez
c32/hope_hutman.md @hhutman
c32/javier_mesa.md @jdmesa0925
c32/jide_delano.md @codeblue001
c32/john_fitz.md @johnfitz79
c32/jordan_rabinowitz.md @jordanmarcr
c32/kevin_choi.md @choik305
c32/maria_navarrete.md @marianavar
c32/matthew_smarsh.md @matthewsmarsh
c32/michael_spitaleri.md @miketomato13
c32/michael_castellon.md @MikeCastellon
c32/miguel_clavel.md @mclavel322
c32/natalie_dinkins.md @natalbob21
c32/nate_montgomery.md @Ka1ex
c32/netali_shkori.md @neti1455
c32/patricia_artiaga.md @patimbit
c32/rey_granda.md @reygranda
c32/rian_laney.md @lancedingo
c32/rocio_de_santiago.md @rocio-codemonster
c32/shawn_kaleky.md @Shawnkaleky
c32/simon_choren.md @DadeCapo
c32/sol_borjas.md @solbeee
c32/thayna_santana.md @thaynamenezes
c32/thomas_kennedy.md @Lespacemanspiff
c32/vincent_coscia.md @cakeymat
c32/zhanna_kussainova.md @zhanna1825

c31/jamie_damon.md @JamieDamon
c31/ana_gonzalez.md @anamgonzalez
c31/denise_pennaman.md @DPennaman
c31/jacob_allen.md @Jacobaallen
c31/stephanie_olaya.md @smolaya
c31/alvaro_vargas.md @AVargas910
c31/asiel_montes.md @Hakxel
c31/lester_caballero.md @ouroboricforms
c31/quintin_osuchukwu.md @qosuchukwu
c31/robert_beavin.md @rmbeavin

c30/alicia_piedra.md @aliciapiedra
c30/leo_policastro.md @leopolicastro
c30/tidre_laurent.md @dre37167
c30/krystal_smith.md @KrysieDee
c30/dmitriy_sedoy.md @dimon-777
c30/albert_fundora.md @NomadRiding
c30/steven_capuzzi.md @stevencapuzzi
c30/maya_kano.md @mayakano
c30/richard_pierre-louis.md @RichardPL1
c30/isabel_virgille.md @ivirgille
c30/alessandra_delapompa.md @alesspg
c30/jerry_trujillo.md @Jerrytru
c30/ana_triana.md @ana3ana
c30/maurice_vigueras.md @mauricexxvi
c30/jean_saus.md @JeanSaus
c30/ryan_naamani.md @ryannaamani

c29/adrian_monasterios.md @adrimonasterios
c29/kseniia_khodyreva.md @Melidios
c29/adam_noah.md @adamn1225
c29/chenyu_zhu.md @czhu6515
c29/eduard_fernandez.md @Bravo-Bear
c29/ricardo_aviles.md @Grimnia
c29/adam_doak.md @aydoak
c29/andreas_galanis.md @agalanis7
c29/isaac_curtiss.md @isaacwashere
c29/adam_wachsberg.md @awachsberg
c29/roberto_san_martin.md @rsanmartin1991
c29/richard_crismond.md @RickyB0bby
c29/haseeb_rehman.md @HaseebHR
c29/cesar_soto.md @cesarFrangelico
c29/william_kontos.md @williamkontos
c29/karina_pietra.md @KarinaPietra

c28/ariel_rubinstein.md @ArielRub
c28/brendan_mccue.md @BrenDave
c28/juan_lavieri.md @juanlavieri
c28/simon_martinez.md @simon3771
c28/roxanne_awang.md @rox2018
c28/brandon_gines.md @BrandonHVX
c28/nelson_cardoso.md @orcatyr
c28/daniel_silver.md @danielrsilver
c28/taylor_krause.md @taylorkrause95
c28/jeremy_solomon.md @jeremysolomon2
c28/pio_molina.md @vpio
c28/rosenthol_curtis.md @rcurtis04
c28/brandon_budwig.md @brandonbudwig
c28/maria_alves.md @mariapalves
c28/rumen_todorov.md @RumenRT
c28/dardo_sabarots.md @dardojs89
c28/davin_harding.md @davinharding

c27/gabe_deluz.md @gdeluzuriaga
c27/george_romero.md @grwyncode
c27/juan_carlos_jerez.md @JuanCarlosJerez
c27/kais_dewani.md @kaisdewani
c27/kersten_kaufman.md @kerstenannk
c27/kristina_rivero.md @krivero
c27/manuela_cardenas.md @manucardenas
c27/marc_freiman.md @freimanmarc
c27/nicholas_altunian.md @naaltunian
c27/robert_garcia.md @Robert-Garcia552
c27/thomas_mcfadden.md @tmcfadden7
c27/yomairy_pena.md @Yomairyp

c26/angel_mendez.md @angeloscar
c26/anthony_clemow.md @anthony1487
c26/brittany_davis.md @bmdavis723
c26/chris_duenas.md @chrisduenas
c26/cristian_ospina.md @CristianOspina93
c26/dixsie_wolmers.md @dixsie
c26/harrison_groll.md @harryy88
c26/jessica_kienzle.md @JessKienz
c26/karen_burgos.md @aenuros
c26/karla_cortes.md @karla-cortes
c26/kassey_rodriguez.md @kasseyrodriguez
c26/mohamed_nazim.md @nazimco
c26/rafa_benavides.md @RafaMustafa3
c26/romeo_ridore.md @rrvital
c26/stephen_levitin.md @applejuicekid
c26/tommy_suwunrut.md @Stommy123
c26/whitney_lubin.md @whitneylubin
c26/xavier_banegas.md @xbanegas
